.wrap{
 background-color: #987;
    width: 400px;
    height: 250px;
    margin:30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.word:hover{
    color: aquamarine;
    background-color: rgb(66, 79, 104);
    transition: 0.5s active;
}